<mat-card>

  <mat-toolbar color="primary">
    Detalhes do curso
  </mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <input formControlName="name" matInput placeholder="Nome">
        <mat-hint align="end">{{ form.get('name')?.value?.length }}/100</mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid">{{ getErrorMessage('name') }}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"></mat-option>
          <mat-option value="front-end">
            Front-End
          </mat-option>
          <mat-option value="back-end">
            Back-End
          </mat-option>
        </mat-select>
        <mat-hint align="end">{{ form.get('category')?.value?.length }}/25</mat-hint>
        <mat-error *ngIf="form.get('category')?.invalid">{{ getErrorMessage('category') }}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="jc-c">
    <button (click)="onSubmit()" class="mr-5" color="primary" mat-raised-button>Salvar</button>
    <button (click)="onCancel()" mat-raised-button>Cancelar</button>
  </mat-card-actions>
</mat-card>

